{
  "tabWidth": 2,
  "useTabs": false,
  "trimTrailingWhitespace": true,
  "endOfLine": "auto",

  "maxEmptyLines": 1,

  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,

  "htmlWhitespaceSensitivity": "strict",

  "proseWrap": "always",

  "plugins": ["prettier-plugin-tailwindcss"],

  "bracketSpacing": true,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "embeddedLanguageFormatting": "auto"
}
